*{
    margin: 0;
    padding: 0;
}

body{
    background: #eee;
}

header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: fit-content;
    width: 100%;
    background: #fff;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
}

.logo{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.logo>img{
    width: 90px;
    height: 70px;
}

.nav-links>ul{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
    list-style: none;
}

.nav-items>a{
    text-decoration: none;
    color: black;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.card{
    display: flex;
    gap: 20px;
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 1px 2px 3px 8px #fff;
}

.content{
    width: 65%;
    line-height: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content>h2{
    font-size: 30px;
}

.imgs{
    border-radius: 15px;
    width: 33%;
    height: 400px;
}
.imgs>img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.our-services{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 70px;
    padding: 20px 20px;
    height: 500px;
    background-color: #242424;
    color: #fff;
    align-items: center;
}

.heading{
    font-size: 40px;
    color: goldenrod;
}

.services{
    display: flex;
    gap: 40px;
    align-items: center;
}

.services-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.fa-solid{
    color: gold;
}

.services-details>p{
    color: white;
    font-size: 20px;
}

.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    box-shadow: 1px 2px 3px 8px #eee;
    border-radius: 5px;
    overflow: hidden;
}

.sub-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 30px;
}

.sub-contact>button{
    border: none;
    background-color: goldenrod;
    width: 200px;
    height: 60px;
    border-radius: 15px;
}

.contactFormDiv{
    width: 400px;
    margin: 10px auto 30px auto;
    height: fit-content;
    display: none;
    flex-direction: column;
    align-items: center;
}

.formItem{
    width: 90%;
    margin-bottom: 14px;
    display: flex;
}

.formItem>input, .formItem>textarea, .formItem>select{
    color: black;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #888;
    outline: none;
}

.formItem>input{
    height: 25px;
    border-radius: 5px;
}

.formItem>select{
    height: 35px;
    border-radius: 5px;
}

.contactFormDiv>input[type="submit"]{
    padding: 9px 10px;
    width: 90%;
    height: 40px;
    color: white;
    font-size: 15px;
    background-color: navy;
    border: none;
    border-radius: 5px;
}

.footer{
    background-color: goldenrod;
}