*{
    margin: 0;
    padding: 0;
}

header{
    position: sticky;
    height: fit-content;
    width: 100%;
    box-shadow: 1px 1px 3px 8px rgb(240, 240, 240);
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.logo{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.logo>img{
    width: 90px;
    height: 70px;
}

.nav-links>ul{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
    list-style: none;
}

.nav-links>ul>li>a{
    text-decoration: none;
    color: black;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.card{
    display: flex;
    gap: 20px;
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 2px 3px 8px #eee;
}

.content{
    width: 65%;
    line-height: 30px;
    text-align: center;
}

.imgs{
    border-radius: 15px;
    width: 33%;
    height: 400px;
}
.imgs>img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.our-services{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 70px;
    height: 500px;
    background-color: #242424;
    color: #fff;
    align-items: center;
}

.services{
    display: flex;
    gap: 40px;
    align-items: center;
}

.services>span{
    display: block;
    width: 100%;
}

.services>span>i{
    text-align: center;
}

.fa-solid{
    color: gold;
}

.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    box-shadow: 1px 2px 3px 8px #eee;
    border-radius: 5px;
    overflow: hidden;
}

.sub-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 30px;
}

.sub-contact>button{
    border: none;
    background-color: gold;
    width: 200px;
    height: 60px;
    border-radius: 15px;
}

.contactFormDiv{
    width: 400px;
    margin: 10px auto 30px auto;
    height: 350px;
    display: none;
    flex-direction: column;
    align-items: center;
}

.formItem{
    width: 90%;
    margin-bottom: 14px;
    display: flex;
}

.formItem>input, .formItem>textarea, .formItem>select{
    color: black;
    width: 100%;
    padding: 5px 10px;
}

.contactFormDiv>input{
    padding: 9px 10px;
    width: 90%;
    color: white;
    font-size: 15px;
    background-color: navy;
    border: none;
    border-radius: 5px;
}