*{
    margin: 0;
    padding: 0;
}

header{
    position: sticky;
    height: 70px;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    gap: 5px;
    justify-content: center;
}

.logo>img{
    width: 50px;
    height: 50px;
    background-color: gold;
}

.nav-links>ul{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
    list-style: none;
}

.nav-links>ul>li>a{
    text-decoration: none;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    background-image: url('./images/padlock.svg');
}

.card{
    display: flex;
    gap: 20px;
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 2px 3px 8px #eee;
}

.content{
    width: 65%;
    line-height: 30px;
}

.imgs{
    border-radius: 15px;
    width: 33%;
    height: 400px;
}
.imgs>img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.our-services{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 70px;
    height: 500px;
    background-color: #242424;
}

.services{
    display: flex;
    gap: 40px;
}

.contact{
    display: flex;
    justify-content: center;
}

.sub-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 30px;
    box-shadow: 1px 2px 3px 8px #eee;
}

.sub-contact>button{
    border: none;
    background-color: gold;
    width: 200px;
    height: 60px;
    border-radius: 15px;
}